.footer {
    position: relative;
    background: linear-gradient(-47.00deg, rgb(2, 35, 53) 3.787%, rgb(4, 58, 65) 92.414%);
}


.scroll__up {
    position: absolute;
    top: -70px;
    left: 103px;
}

.scroll__up-img.aside__icon {
    width: 139px;
    height: 139px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__up-img.aside__icon::before {
    content: '';
    position: absolute;
    width: 139px;
    height: 139px;
    background: rgb(255, 255, 255);
    opacity: 0.05;
    border-radius: 50%;
}

.scroll__up-img.aside__icon::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    box-shadow: 0px 7px 20px -7px rgb(0, 224, 255);
    background: linear-gradient(180.00deg, rgba(3, 225, 255, 0.66), rgb(19, 205, 194) 100%);
    border-radius: 50%;
}

.scroll__up-img.aside__icon img {
    position: relative;
    z-index: 2;
}


.scroll__up-text {
    position: absolute;
    bottom: 100%;

}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0 45px;
}

.footer__logo {}

.data {}

.footer__connection {
    display: flex;
    gap: 36px;
    padding-bottom: 30px;
}

.footer__connection-mail {
    display: flex;
    color: #4abcec;
    font-family: Avenir Next Cyr;
    font-size: 18px;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: right;
    text-decoration-line: underline;
    gap: 7px;
}

.footer__connection-tel {}

.footer__socials {
    display: flex;

}

.footer__socials-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    color: rgb(116, 125, 129);
    font-family: Avenir Next Cyr;
    font-size: 10px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 12%;
    text-align: left;
    text-transform: uppercase;
}

.footer__socials-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer__socials-messenger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.footer__socials-youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin-right: 16px;
}

.footer__socials-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.footer__socials-talk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Avenir Next Cyr;
    font-size: 14px;
    font-weight: 450;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
}

.footer__copyright::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 784px;
    max-width: 784px;
    width: 100%;
    height: 1;
    transform: rotate(-180.00deg);
    border: 1px solid rgba(0, 224, 255, 0.2);
}

.footer__copyright::before {
    content: '';
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 784px;
    max-width: 784px;
    width: 100%;
    height: 1px;
    transform: rotate(-180.00deg);
    border: 1px solid rgba(0, 224, 255, 0.2);
}

.footer__afreeca {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding-bottom: 18px;
}

.footer__afreeca-text {
    color: rgb(116, 125, 129);
    font-size: 10px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 12%;
    text-align: left;
    text-transform: uppercase;
}

.footer__afreeca-logo {}