body {
    height: 2000px;
    color: #fff;
    background-color: #000;
}

.rectanagle {
    height: 100px;
    width: auto;
    background: #fff;
    border-radius: 7px;
    position: fixed;
        bottom: 100px;
        right: 50px;
        left: 50%;
}
.circle{
    width: 100px;
    height: 100px;
    background: #df1717;
    border-radius: 100%;
    position: absolute;
        bottom: 50%;
        left: 100px;
}
